body {
    background-color: rgb(200, 173, 214); 
    color: rgb(10, 4, 59); 
    font-family: Arial; 
    margin: 0px;
}

main {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
}

footer{
    background-color: rgb(53, 32, 94); 
    color: rgb(231, 215, 255); 
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
}

header{
    background-color: rgb(53, 32, 94); 
    color: rgb(231, 215, 255);
    padding: 10px; 
    font-size: 16pt;
}
a {
    color: purple;
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    color: rgb(148, 99, 99);
}
a:visited {
    color: rgb(72, 6, 6);
}
a:hover {
    color: brown;
    text-decoration: underline;
    box-shadow: rgb(67, 6, 69) 3px 3px;
    transition: 0.3s;
}
a:active {
    color: orange;
}

div.menu {
    border: 7px solid #42233f80;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: #ffb3f530;
    box-shadow: 0 0 15px #65035530;
}
